[submodule "BedrockModNative/lib/Detours"]
	path = BedrockModNative/lib/Detours
	url = https://github.com/0xeb/detours-cmake
[submodule "BedrockModNative/lib/ClassBuilder"]
	path = BedrockModNative/lib/ClassBuilder
	url = https://github.com/DisabledMallis/ClassBuilder.git
